<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Checked Out Books</title>
<style>
table{
border-collapse:separate;
border-spacing: 0 15px;
}
td {
padding: 5px;
}
</style>
</head>
<body> 
<form> 
<table> 
<tr>
    <th scope="col">Book</th>
    <th scope="col">Author</th>
    <th scope="col">Checked out by</th>
</tr>
<tr th:each="currentCheckout : ${checkouts}" >
<td th:text="${currentCheckout.book.title}" />
<td th:text="${currentCheckout.book.author}" /> 
<td th:text="${currentCheckout.patron.name}" />
<td> Due Date:   <td>
<td th:text="${currentCheckout.dueDate}" />
<td>             <td>
<td><a th:href= "@{/checkinBook/{id}(id=${currentCheckout.id})}" >Checkin</a></td>  
</tr> 
</table> 
</form> 
<a href= "viewAll" >View all Books</a><br />
<a href="inputBook">Add a new book</a><br />
<a href="inputPatron">Add a new patron</a><br />
<a href= "viewAllPatrons" >View all Patrons</a><br />
<a href= "viewAllPatrons" >Check out a book</a>
<a href= "../viewAllPatrons" >View All Patrons</a> 
</body>
</html>

