<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Checkout Books</title>
</head>
<body>
<form> 
Select book to checkout:
<table> 
<tr th:each="currentBook : ${availableBooks}" > 
<td th:text="${currentBook.title}" />     
<td th:text="${currentBook.author}" />          
<td><a th:href= "@{/addCheckout/{id}(id=${currentBook.id})}">Checkout</a></td> 
</tr> 
</table>
<a href= "../viewAll" >View all Books</a><br />
<a href="../inputBook">Add a new book</a><br />
<a href="../inputPatron">Add a new patron</a><br />
<a href= "../viewAllPatrons" >View all Patrons</a><br />
<a href= "../viewAllPatrons" >Check out a book</a><br />
</form> 
</body>
</html>