<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Insert New Book</title>
</head>
<body>
<script>
function validateForm() {
    if(document.myForm.title.value == "") {
      alert("Title can not be left blank");
      document.myForm.title.focus();
      return false;
    }
    else if(document.myForm.author.value == "") {
     alert("Author can not be left blank");
     document.myForm.author.focus();
     return false;
    }
    else if(document.myForm.availableCopies.value == "") {
        alert("Available copies can not be left blank");
        document.myForm.availableCopies.focus();
        return false;
    }
    else if(isNaN(document.myForm.availableCopies.value)) {
        alert("Available copies must be numeric");
        document.myForm.availableCopies.focus();
        return false;
    }
    else if(document.myForm.totalCopies.value == "") {
        alert("Total copies can not be left blank");
        document.myForm.totalCopies.focus();
        return false;
    }
    else if(isNaN(document.myForm.totalCopies.value)) {
        alert("Total copies must be numeric");
        document.myForm.totalCopies.focus();
        return false;
    }
    return true;
}
</script>

<form name="myForm" th:object="${newBook}" th:action="@{/update/{id}(id=${newBook.id})}" method=POST onSubmit="return(validateForm())"> 
 Title: <input name="title" size="80" th:field= "*{title}"><br />
 Author: <input name="author" size="25" th:field= "*{author}"><br />
 Total Copies: <input name="totalCopies" size="20" th:field= "*{totalCopies}"><br />
 Available Copies: <input name="availableCopies" size="4" th:field= "*{availableCopies}"><br />
 <input name= "submit" type= "submit" value= "submit" /> 
 </form>
<a href= "viewAll" >View all Books</a><br />
<a href= "inputPatron" >Add a Patron</a><br />
</body>
</html>