<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>View All Patrons</title>
</head>
<body> 
<form> 
<table> 
<tr>
    <th scope="col">Patron</th>
</tr>
<tr th:each="currentPatron : ${patrons}" > 
<td th:text="${currentPatron.name}" />       
<td><a th:href= "@{/editPatron/{id}(id=${currentPatron.id})}" >Edit</a></td> 
<td><a th:href="@{/deletePatron/{id}(id=${currentPatron.id})}">Delete</a></td>  
<td><a th:href="@{/checkout/{id}(id=${currentPatron.id})}">Checkout</a></td>   
</tr> 
</table> 
</form> 
<a href="../inputBook">Add a new book</a><br />
<a href="../viewAll">View all books</a><br />
<a href="../inputPatron">Add a new patron</a><br />
<a href="../viewCheckouts">View Checked Out Books</a>
</body>
</html>